In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
a = pd.read_csv('palpenguins.csv')
a

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,diet,life_stage,health_metrics,year
0,Adelie,Biscoe,53.4,17.8,219.0,5687.0,female,fish,adult,overweight,2021
1,Adelie,Biscoe,49.3,18.1,245.0,6811.0,female,fish,adult,overweight,2021
2,Adelie,Biscoe,55.7,16.6,226.0,5388.0,female,fish,adult,overweight,2021
3,Adelie,Biscoe,38.0,15.6,221.0,6262.0,female,fish,adult,overweight,2021
4,Adelie,Biscoe,60.7,17.9,177.0,4811.0,female,fish,juvenile,overweight,2021
...,...,...,...,...,...,...,...,...,...,...,...
3425,Gentoo,Biscoe,44.0,20.4,252.0,6447.0,male,squid,adult,healthy,2025
3426,Gentoo,Biscoe,54.5,25.2,245.0,6872.0,male,squid,adult,healthy,2025
3427,Gentoo,Biscoe,51.4,20.4,258.0,7409.0,male,squid,adult,overweight,2025
3428,Gentoo,Biscoe,55.9,20.5,247.0,6491.0,male,squid,adult,healthy,2025
3429,Gentoo,Biscoe,43.9,22.9,206.0,6835.0,male,squid,adult,healthy,2025

In [33]:
x = a.drop('species', axis = 1)
x

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,diet,life_stage,health_metrics,year
0,Biscoe,53.4,17.8,219.0,5687.0,female,fish,adult,overweight,2021
1,Biscoe,49.3,18.1,245.0,6811.0,female,fish,adult,overweight,2021
2,Biscoe,55.7,16.6,226.0,5388.0,female,fish,adult,overweight,2021
3,Biscoe,38.0,15.6,221.0,6262.0,female,fish,adult,overweight,2021
4,Biscoe,60.7,17.9,177.0,4811.0,female,fish,juvenile,overweight,2021
...,...,...,...,...,...,...,...,...,...,...
3425,Biscoe,44.0,20.4,252.0,6447.0,male,squid,adult,healthy,2025
3426,Biscoe,54.5,25.2,245.0,6872.0,male,squid,adult,healthy,2025
3427,Biscoe,51.4,20.4,258.0,7409.0,male,squid,adult,overweight,2025
3428,Biscoe,55.9,20.5,247.0,6491.0,male,squid,adult,healthy,2025
3429,Biscoe,43.9,22.9,206.0,6835.0,male,squid,adult,healthy,2025

### We will use One-Hot Encoding to convert categorical values to numerical values:

In [34]:
b = ['sex', 'diet', 'life_stage', 'health_metrics']

for i in b:
    print('-' * 40)
    print(f'\n{a[i].value_counts()}\n')

----------------------------------------

sex
female    1726
male      1704
Name: count, dtype: int64

----------------------------------------

diet
krill       1419
fish         958
parental     860
squid        193
Name: count, dtype: int64

----------------------------------------

life_stage
juvenile    1541
adult       1029
chick        860
Name: count, dtype: int64

----------------------------------------

health_metrics
healthy        1550
overweight     1167
underweight     713
Name: count, dtype: int64

In [35]:
x

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,diet,life_stage,health_metrics,year
0,Biscoe,53.4,17.8,219.0,5687.0,female,fish,adult,overweight,2021
1,Biscoe,49.3,18.1,245.0,6811.0,female,fish,adult,overweight,2021
2,Biscoe,55.7,16.6,226.0,5388.0,female,fish,adult,overweight,2021
3,Biscoe,38.0,15.6,221.0,6262.0,female,fish,adult,overweight,2021
4,Biscoe,60.7,17.9,177.0,4811.0,female,fish,juvenile,overweight,2021
...,...,...,...,...,...,...,...,...,...,...
3425,Biscoe,44.0,20.4,252.0,6447.0,male,squid,adult,healthy,2025
3426,Biscoe,54.5,25.2,245.0,6872.0,male,squid,adult,healthy,2025
3427,Biscoe,51.4,20.4,258.0,7409.0,male,squid,adult,overweight,2025
3428,Biscoe,55.9,20.5,247.0,6491.0,male,squid,adult,healthy,2025
3429,Biscoe,43.9,22.9,206.0,6835.0,male,squid,adult,healthy,2025

In [43]:
dummies = pd.get_dummies(x)
dummies = dummies.astype(int)

In [44]:
dummies

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,island_Biscoe,island_Dream,island_Torgensen,sex_female,sex_male,diet_fish,diet_krill,diet_parental,diet_squid,life_stage_adult,life_stage_chick,life_stage_juvenile,health_metrics_healthy,health_metrics_overweight,health_metrics_underweight
0,53,17,219,5687,2021,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
1,49,18,245,6811,2021,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
2,55,16,226,5388,2021,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
3,38,15,221,6262,2021,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
4,60,17,177,4811,2021,1,0,0,1,0,1,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,44,20,252,6447,2025,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0
3426,54,25,245,6872,2025,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0
3427,51,20,258,7409,2025,1,0,0,0,1,0,0,0,1,1,0,0,0,1,0
3428,55,20,247,6491,2025,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0
3429,43,22,206,6835,2025,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0

In [50]:
dummies = pd.get_dummies(x, drop_first = True)
x = dummies.astype(int)

In [51]:
x

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,island_Dream,island_Torgensen,sex_male,diet_krill,diet_parental,diet_squid,life_stage_chick,life_stage_juvenile,health_metrics_overweight,health_metrics_underweight
0,53,17,219,5687,2021,0,0,0,0,0,0,0,0,1,0
1,49,18,245,6811,2021,0,0,0,0,0,0,0,0,1,0
2,55,16,226,5388,2021,0,0,0,0,0,0,0,0,1,0
3,38,15,221,6262,2021,0,0,0,0,0,0,0,0,1,0
4,60,17,177,4811,2021,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,44,20,252,6447,2025,0,0,1,0,0,1,0,0,0,0
3426,54,25,245,6872,2025,0,0,1,0,0,1,0,0,0,0
3427,51,20,258,7409,2025,0,0,1,0,0,1,0,0,1,0
3428,55,20,247,6491,2025,0,0,1,0,0,1,0,0,0,0
3429,43,22,206,6835,2025,0,0,1,0,0,1,0,0,0,0

In [53]:
y = a['species']

In [54]:
x

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,island_Dream,island_Torgensen,sex_male,diet_krill,diet_parental,diet_squid,life_stage_chick,life_stage_juvenile,health_metrics_overweight,health_metrics_underweight
0,53,17,219,5687,2021,0,0,0,0,0,0,0,0,1,0
1,49,18,245,6811,2021,0,0,0,0,0,0,0,0,1,0
2,55,16,226,5388,2021,0,0,0,0,0,0,0,0,1,0
3,38,15,221,6262,2021,0,0,0,0,0,0,0,0,1,0
4,60,17,177,4811,2021,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,44,20,252,6447,2025,0,0,1,0,0,1,0,0,0,0
3426,54,25,245,6872,2025,0,0,1,0,0,1,0,0,0,0
3427,51,20,258,7409,2025,0,0,1,0,0,1,0,0,1,0
3428,55,20,247,6491,2025,0,0,1,0,0,1,0,0,0,0
3429,43,22,206,6835,2025,0,0,1,0,0,1,0,0,0,0

In [55]:
y

0       Adelie
1       Adelie
2       Adelie
3       Adelie
4       Adelie
         ...
3425    Gentoo
3426    Gentoo
3427    Gentoo
3428    Gentoo
3429    Gentoo
Name: species, Length: 3430, dtype: object

In [57]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)